.Login {
  height: 30vh;
  background-color: rgb(3, 3, 3);
  width: 30em;
  height: 30em;
  position: relative;
  border-radius: 1em;
  text-align: center;
  align-items: center;
  margin-left: 30%;
  margin-top: 2%;
  box-shadow: 0 0.188em 1.55em rgb(71, 34, 4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
s .b1 {
  padding-top: -10%;
  padding-bottom: 1%;
  margin-top: -5%;
  margin-bottom: 2%;
}
.b2 {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0%;
  margin-bottom: 10%;
}
.Login p,
h1 {
  color: #040274;
}
.alt {
  width: 80%;
  height: 3em;
  display: flex;
  justify-content: space-around;
}
.alt div {
  width: 45%;
  height: 90%;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.google {
  background-image: url("../../media/google.png");
  box-shadow: 0 0.188em 1.55em rgb(14, 13, 13);
}
.face {
  background-image: url("../../media/face.png");
  box-shadow: 0 0.188em 1.55em rgb(0, 0, 0);
}
input {
  border: none;
  background-color: whitesmoke;
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
}
input:focus {
  outline-color: #2176af;
}
.lgbt {
  width: 40%;
  height: 3em;
  background-color: rgb(91, 99, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}
Lgbt:hover {
  transform: scale(2.25);
  background-color: #040274;
}
.text {
  position: relative;
  bottom: -2em;
}
.hide {
  position: absolute;
  transform: scale(0);
}
.loging-popup {
  position: absolute;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: #000000;
  color: aliceblue;
  bottom: 0;
  transform: scale(1);
  transform: 1.5s;
}
